
<div class="row">
  <a href="/authors">
    <div class="read btn btn-primary row col-xs-2">
      <div class="center-block col-xs-6">
        <p>Authors</p>
      </div>
    </div>
  </a>
    <a href="/books">
      <div class="read btn btn-primary row col-xs-2">
        <div class="center-block col-xs-6">
          <p>Books</p>
        </div>
      </div>
    </a>
</div>
  <a href="/author/new">
    <button class="bot box center-block btn btn-success">Add Author</button>
  </a>
{{#each authors}}
<hr>
  <div class="row spacer" id="{{id}}">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-2">
      <img class="portrait" src="{{img}}" alt="Faces">
    </div>
    <div class="col-xs-6">
      <a href="/authors/{{id}}/delete">
        <input class="space pull-right btn btn-danger" type="button" value="Delete">
      </a>
      <a href="/authors/{{id}}/edit">
      <input class="space pull-right btn btn-info" type="button" value="Edit">
      </a>
      <a href="/authors/{{id}}">
        <h2>{{firstname}}" "{{lastname}}</h2>
      </a>
      <h4>{{genera}}</h4>
      <p>{{bio}}</p>
    </div>
  </div>
{{/each}}

<script src="https://code.jquery.com/jquery-3.1.1.js" type="text/javascript"></script>
<script type="text/javascript">

</script>
