<div class="row">
    <div class="read btn btn-primary row col-xs-2">
      <div class="center-block col-xs-6">
        <p>Authors</p>
      </div>
    </div>
    <a href="/books">
      <div class="read btn btn-primary row col-xs-2">
        <div class="center-block col-xs-6">
          <p>Books</p>
        </div>
      </div>
    </a>
</div>
  <div class="row spacer" id="{{id}}">
    <div class="col-xs-2">
    </div>
    <div class="col-xs-2">
      <img class="book_cover" src="{{books.img}}" alt="book covers">
    </div>
    <div class="col-xs-6">
      <h2>{{books.title}}</h2>
      <h4>{{books.genera}}</h4>
      <p>{{books.description}}</p>
    </div>
    <form action="/books/{{books.id}}/delete?_method=delete" method="post" >
      <button class="btn btn-danger">
        You Sure?
      </button>
    </form>
  </div>
